@model _202MobileServiceFour_Model.Business

@{
    ViewBag.Title = "ClientRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-4">
        <div class="col-lg-5">
            <img class="img-fluid rounded" src="http://placehold.it/600x300" alt="">
        </div>
        <div class="col-lg-7">
            <h1>Business Name or Tagline</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <br>
            <button class="btn btn-outline-info">Sign In</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("BusinessInfo", "Default", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h3><i class="fa fa-phone" aria-hidden="true"></i> Register</h3><hr>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Business Name</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Type of Business</label>
                    <div class="col-9">
                        @Html.DropDownListFor(model => model.TypeOfBusiness, new SelectList(ViewBag.typeList), "-Select Type-", new { @class = "form-control text-box single-line" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Business Telephone</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.BusinessPhone, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Business Email</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.BusinessEmail, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Business Address</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.BusinessAddress, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Business Hours</label>

                    <div class="col-4">
                        @Html.EditorFor(model => model.BusinessHoursStart, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>

                    <label for="txtBusinessHours" class="col-1 col-form-label">to</label>

                    <div class="col-4">
                        @Html.EditorFor(model => model.BusinessHoursEnd, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Website URL</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.WebsiteUrl, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Facebook URL</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.FacebookUrl, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Image Gallery URL</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.ImageGalleryUrl, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtYourName" class="col-3 col-form-label">Other - Please specify</label>
                    <div class="col-9">
                        @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    </div>
                </div>

                <br>
                <input type="submit" class="btn btn-info pull-right" value="Next" />
            }
        </div>
    </div>
</div>