@model _202MobileServiceFour_Model.UserInfo
@using (Html.BeginForm("ClientRegister", "Default", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3><i class="fa fa-phone" aria-hidden="true"></i> Register</h3><hr>

    <div class="form-group row">
        <label for="txtYourName" class="col-3 col-form-label">Your Name</label>
        <div class="col-9">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
        </div>
    </div>

    <div class="form-group row">
        <label for="txtYourEmail" class="col-3 col-form-label">Email</label>
        <div class="col-9">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
        </div>
    </div>

    <div class="form-group row">
        <label for="txtYourPhone" class="col-3 col-form-label">Telephone</label>
        <div class="col-9">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control text-box single-line phone" } })
        </div>
    </div>

    <div class="form-group row">
        <label for="txtYourPhone" class="col-3 col-form-label">User Name</label>
        <div class="col-9">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
        </div>
    </div>

    <div class="form-group row">
        <label for="txtYourPhone" class="col-3 col-form-label">Password</label>
        <div class="col-9">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control text-box single-line" })
        </div>
    </div>

    <div class="form-group row">
        <label for="txtYourPhone" class="col-3 col-form-label">Confirm Password</label>
        <div class="col-9">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control text-box single-line" })
        </div>
    </div>

    <br>
    <input type="submit" class="btn btn-info pull-right" value="Next" />
}
